<div class="container">
   
        
            <div class="my-sm-10">
                <button class="btn btn-primary" (click)="toggleMode()">{{ mode? "Light":"Dark" }}</button>
              
            </div>

            <form>
                <div class="row">
                  <div class="col-9">
                    <input 
                    type="search" 
                    id="form" 
                    class="form-control mr-sm-1" 
                    placeholder="Search">
                  </div>
                  <div class="col-3">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                        <i class="fa fa-search"></i>
                    </button>
                  </div>
                  
                </div>
            </form>
                
                  
             
       
  
</div>